$light: 100; 
$regular: 400; 
$bold: 600; 
  
$break-large: 1200px;
$break-desktop: 992px;
$break-tablet: 768px;
$break-mobile: 450px;

$base-color-red-validation: #a94442;
$base-color-green-validation: #3c763d;
$base-color-grey-light: #ccc;

$main-logo-width: 250px;
$horizontal-column-padding: 10px;
$container-padding: 40px;
$container-inner-padding: 30px;

$opacity-transition: opacity linear .3s;